<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.tulingsql.mapper.AuthorMapper">

    <resultMap id="BaseResultMap" type="com.fs.tulingsql.entity.Author">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="bio" column="bio" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="authorResultMap"  extends="BaseResultMap" type="com.fs.tulingsql.dto.AuthorBookDto">

        <collection property="books" ofType="com.fs.tulingsql.entity.Book"
                    column="author_id">
            <id property="id" column="book_id" />
            <id property="authorId" column="author_id" />
            <id property="bookName" column="book_name" />
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id,username,password,
        email,bio
    </sql>
    <select id="selectAuthor" resultMap="authorResultMap">
        select
            a.id,a.username,a.password,email,a.bio,
            b.id as book_id,b.author_id,b.book_name
        from author a left join book b
                                on a.id = b.author_id
    </select>
</mapper>
